.carrousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;

    @media screen and (max-width: 768px) {
      padding-bottom: 10px;
  }
  
    &__previous {
      width: 46px;
      height: 79px;
      color: white;
      position: absolute;
      right: 1%;
      bottom: 47%;
      @media (max-width: 768px) {
        width: 11px;
        
    }
  }
  
    &__next {
      width: 46px;
      height: 79px;
      color: white;
      position: absolute;
      left: 1%;
      bottom: 47%;
      @media (max-width: 768px) {
        
        width: 11px;
    }
  }
  
    &__img {
      border-radius: 25px;
      height: 415px;
      width: 100%;
      object-fit: cover;
  
      @media screen and (max-width: 768px) {
        height: 255px;
        border-radius: 10px;
      }
    }
  
    &__counter {
      color: white;
      position: absolute;
      bottom: 55px;
      font-size: 18px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }


  