Footer {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 13.0625rem;
    flex-direction: column;
    align-items: center;
    gap: 1.78475rem;
    background-color: black;
    color: #fff;
    justify-content: center;
    margin: 0 auto;
    &__logo {
      width: 7.625rem;
      height: 2.46525rem;
    }
    &__text {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 142.6%;
    }
  }